/* ################################################################ */
/* Designed and created with <3 by Andrii Chemerys. */
/* Warsaw. 6-06-2020. */
/* ################################################################ */

/* Overwriting Materialize default margin behavior for mobile screen*/
.margin-left-0 {
  margin-left: 0 !important;
}

.main-wrapper {
  padding: 3vh 10vw;

  /* background image with some fit girl */
  background-image: url(img/pict/woman-in-white-shirt-playing-brown-electric-guitar_60.jpg);
  /* background-size: 150%; */
  background-size: 100%;
  background-size: cover;
  background-position: 0% 0%;
  /* background-position: center; */
  background-repeat: no-repeat;
}

.card-content {
  padding: 10px;
  height: 142px;
}

.row-bottom {
  margin-bottom: 0;
}

.card-action {
  margin-top: auto;
}

.section-header {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 500;
  color: #f7f7f7;
}

/* .card-content,
.card-action {
  opacity: 0.5;
} */

.guitar-section__item {
  opacity: 0.9;
}

.basket__head,
.basket-item {
  padding-bottom: 10px;
  border-bottom: 1px solid #1a1d1c;
  color: #1a1d1c;
}

.purchase-section {
  margin-top: 30px;
}

.btn-purchase {
  font-weight: bold;
}

.btn-danger {
  color: white;
  background-color: #ee5454;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: black;
}

.cart-total {
  text-align: end;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: #1a1d1c;
}

.cart-total-price {
  color: #1a1d1c;
  font-size: 1.1em;
}

.cart-price {
  color: #1a1d1c;
}

.cart-quantity-input {
  color: #1a1d1c;
}

/* Fixing white space effect aroud title text on mobile with media queries */
@media only screen and (max-width: 600px) {
  .card-content {
    height: auto;
  }
}
