.basket {
  display: flex;
  /* justify-content: end; */
  align-items: center;
}

.basket__head {
  /* margin: 0 15px; */
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
  /* width: 100%; */
}

.btn-purchase {
  font-weight: bold;
}

.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #cc4c4c;
}

.cart-total {
  text-align: end;
  /* margin-top: 10px;
  margin-right: 10px; */
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  /* margin-right: 20px; */
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}
